# Node
node_modules/
package-lock.json
dist/
npm-debug.log
*.tsbuildinfo

# Python
__pycache__/
*.py[cod]
*.venv
.venv/
venv/
*.env
build/
*.spec

# System
.DS_Store
Thumbs.db

# Cloudflare
.wrangler/
.dev.vars

# Local Config
server/.sqlite/
*.db
*.db-shm
*.db-wal

# Logs and Intermediate Files
*.log
*.pkl
db_*.txt
agent_uuid

# IDE
.idea/
