# Node
node_modules/
package-lock.json
dist/
npm-debug.log
*.tsbuildinfo

# Python
__pycache__/
*.py[cod]
*.venv
.venv/
venv/
*.env

# System
.DS_Store
Thumbs.db

# Cloudflare
.wrangler/
.dev.vars

# Local Config
server/.sqlite/

# Logs and Intermediate Files
*.log
*.pkl
db_result.txt

